In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import seaborn as sns # 시각화 도구

In [34]:
train = pd.read_csv('train.csv', index_col= 'PassengerId')
test = pd.read_csv('test.csv', index_col= 'PassengerId')

train.head()
test.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,
892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

### 데이터 전처리 및 데이터 탐색

In [35]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 891 entries, 1 to 891
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Name      891 non-null    object
 3   Sex       891 non-null    object
 4   Age       714 non-null    float64
 5   SibSp     891 non-null    int64
 6   Parch     891 non-null    int64
 7   Ticket    891 non-null    object
 8   Fare      891 non-null    float64
 9   Cabin     204 non-null    object
 10  Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 83.5+ KB

In [36]:
#컬럼 정보 관리
train.columns

'''
Pclass : 객실의 등급(1, 상위, 2:중상위, 3하위층)
SibSp : 형제자매/ 배우자(동승한)
Parch : 부모/자식(동승한)
Ticket : 티켓번호
Fare : 요금
Cabin : 객실 번호
Embarked : (S, C, Q)
'''

'\nPclass : 객실의 등급(1, 상위, 2:중상위, 3하위층)\nSibSp : 형제자매/ 배우자(동승한)\nParch : 부모/자식(동승한)\nTicket : 티켓번호\nFare : 요금\nCabin : 객실 번호\nEmbarked : (S, C, Q)\n'

#### 결측치 채우기

In [37]:
train['Embarked'].value_counts()

Embarked
S    644
C    168
Q     77
Name: count, dtype: int64

In [38]:
#Embarked 컬럼의 결측치는?
train[train['Embarked'].isnull()]

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
62,1,1,"Icard, Miss. Amelie",female,38.0,0,0,113572,80.0,B28,NaN
830,1,1,"Stone, Mrs. George Nelson (Martha Evelyn)",female,62.0,0,0,113572,80.0,B28,NaN

In [39]:
train[train['Cabin'].isnull()]

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

#### Cabin부터 채우기

In [40]:
train['Cabin'] = train['Cabin'].isnull()

test.corr(numeric_only= True)

          Pclass       Age     SibSp     Parch      Fare
Pclass  1.000000 -0.492143  0.001087  0.018721 -0.577147
Age    -0.492143  1.000000 -0.091587 -0.061249  0.337932
SibSp   0.001087 -0.091587  1.000000  0.306895  0.171539
Parch   0.018721 -0.061249  0.306895  1.000000  0.230046
Fare   -0.577147  0.337932  0.171539  0.230046  1.000000

In [41]:
train.corr(numeric_only = True)

          Survived    Pclass       Age     SibSp     Parch      Fare     Cabin
Survived  1.000000 -0.338481 -0.077221 -0.035322  0.081629  0.257307 -0.316912
Pclass   -0.338481  1.000000 -0.369226  0.083081  0.018443 -0.549500  0.725541
Age      -0.077221 -0.369226  1.000000 -0.308247 -0.189119  0.096067 -0.249732
SibSp    -0.035322  0.083081 -0.308247  1.000000  0.414838  0.159651  0.040460
Parch     0.081629  0.018443 -0.189119  0.414838  1.000000  0.216225 -0.036987
Fare      0.257307 -0.549500  0.096067  0.159651  0.216225  1.000000 -0.482075
Cabin    -0.316912  0.725541 -0.249732  0.040460 -0.036987 -0.482075  1.000000

In [53]:
# Pclass, Sex을 기준으로 그룹핑하여 Fare의 중앙값 확인

train[['Pclass','Sex', 'Fare']].groupby(['Pclass', 'Sex']).median()

                   Fare
Pclass Sex
1      female  82.66455
       male    41.26250
2      female  22.00000
       male    13.00000
3      female  12.47500
       male     7.92500

In [52]:
#fillna를 사용해서 결측치 채우기
test['Fare'] = test['Fare'].fillna(7.925)

test.info()

<class 'pandas.core.frame.DataFrame'>
Index: 418 entries, 892 to 1309
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    418 non-null    int64
 1   Name      418 non-null    object
 2   Sex       418 non-null    object
 3   Age       332 non-null    float64
 4   SibSp     418 non-null    int64
 5   Parch     418 non-null    int64
 6   Ticket    418 non-null    object
 7   Fare      418 non-null    float64
 8   Cabin     91 non-null     object
 9   Embarked  418 non-null    object
dtypes: float64(2), int64(3), object(5)
memory usage: 35.9+ KB

In [56]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 891 entries, 1 to 891
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Name      891 non-null    object
 3   Sex       891 non-null    object
 4   Age       714 non-null    float64
 5   SibSp     891 non-null    int64
 6   Parch     891 non-null    int64
 7   Ticket    891 non-null    object
 8   Fare      891 non-null    float64
 9   Cabin     891 non-null    bool
 10  Embarked  889 non-null    object
dtypes: bool(1), float64(2), int64(4), object(4)
memory usage: 77.4+ KB

In [62]:
# [1] 라이브러리 불러오기
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import LabelEncoder

# [2] 데이터 불러오기
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

# 타깃값 저장
y = train['Survived']
train.drop(['Survived'], axis=1, inplace=True)

# train + test 합치기
data = pd.concat([train, test], sort=False)

# [3] 피처 엔지니어링

# ① Title 추출
data['Title'] = data['Name'].str.extract(' ([A-Za-z]+)\.', expand=False)
data['Title'] = data['Title'].replace(['Lady', 'Countess', 'Capt', 'Col', 'Don', 
                                       'Dr', 'Major', 'Rev', 'Sir', 'Jonkheer', 'Dona'], 'Rare')
data['Title'] = data['Title'].replace('Mlle', 'Miss')
data['Title'] = data['Title'].replace('Ms', 'Miss')
data['Title'] = data['Title'].replace('Mme', 'Mrs')

# ② 가족 크기
data['FamilySize'] = data['SibSp'] + data['Parch'] + 1
data['IsAlone'] = (data['FamilySize'] == 1).astype(int)

# ③ Age 결측치: Title 기준 평균으로 채움
title_ages = data.groupby('Title')['Age'].transform('mean')
data['Age'] = data['Age'].fillna(title_ages)

# ④ Fare 결측치: 중앙값
data['Fare'] = data['Fare'].fillna(data['Fare'].median())

# ⑤ Embarked 결측치: 최빈값
data['Embarked'] = data['Embarked'].fillna(data['Embarked'].mode()[0])

# [4] 불필요한 컬럼 제거
data.drop(['Name', 'Ticket', 'Cabin', 'PassengerId'], axis=1, inplace=True)

# [5] 범주형 인코딩
for col in ['Sex', 'Embarked', 'Title']:
    le = LabelEncoder()
    data[col] = le.fit_transform(data[col])

# [6] train/test 다시 분할
X_train = data[:len(y)]
X_test = data[len(y):]

# [7] 모델 학습 및 평가
clf = RandomForestClassifier(n_estimators=100, random_state=42)
score = cross_val_score(clf, X_train, y, cv=5).mean()

print(f'교차검증 정확도: {score:.4f}')  # 목표: 0.8000 이상

<>:22: SyntaxWarning: invalid escape sequence '\.'
<>:22: SyntaxWarning: invalid escape sequence '\.'
C:\Users\smhrd1\AppData\Local\Temp\ipykernel_3036\245880066.py:22: SyntaxWarning: invalid escape sequence '\.'
  data['Title'] = data['Name'].str.extract(' ([A-Za-z]+)\.', expand=False)

교차검증 정확도: 0.8114

In [65]:
# [1] 학습/검증 데이터 분할
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier

X_tr, X_val, y_tr, y_val = train_test_split(X_train, y, test_size=0.2, random_state=42)

# [2] RandomForest 모델 튜닝 및 학습
rf = RandomForestClassifier(
    n_estimators=200,
    max_depth=6,
    min_samples_split=4,
    min_samples_leaf=2,
    random_state=42
)
rf.fit(X_tr, y_tr)

# [3] 검증 정확도 출력
val_pred = rf.predict(X_val)
val_acc = accuracy_score(y_val, val_pred)
print(f'검증 정확도: {val_acc:.4f}')

# [4] test.csv 예측 및 캐글 제출 파일 저장
final_pred = rf.predict(X_test)
submission = test[['PassengerId']].copy()
submission['Survived'] = final_pred
submission.to_csv('titanic_submission_rf_tuned.csv', index=False)

검증 정확도: 0.8212

In [66]:
# [1] 라이브러리
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import StratifiedKFold, cross_val_score
from sklearn.preprocessing import LabelEncoder

# [2] 데이터 로드
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
y = train['Survived']
train.drop(['Survived'], axis=1, inplace=True)
data = pd.concat([train, test], sort=False)

# [3] 피처 엔지니어링
# ① Title 추출 및 간단히 줄이기
data['Title'] = data['Name'].str.extract(' ([A-Za-z]+)\.', expand=False)
data['Title'] = data['Title'].replace(['Mlle', 'Ms'], 'Miss')
data['Title'] = data['Title'].replace('Mme', 'Mrs')
data['Title'] = data['Title'].replace(['Lady', 'Countess', 'Capt', 'Col', 'Don', 'Dr',
                                       'Major', 'Rev', 'Sir', 'Jonkheer', 'Dona'], 'Rare')
# 최종 title 목록: Mr, Miss, Mrs, Master, Rare

# ② 가족 관련 변수
data['FamilySize'] = data['SibSp'] + data['Parch'] + 1
data['IsAlone'] = (data['FamilySize'] == 1).astype(int)

# ③ 결측치 처리
data['Age'] = data['Age'].fillna(data.groupby('Title')['Age'].transform('mean'))
data['Fare'] = data['Fare'].fillna(data['Fare'].median())
data['Embarked'] = data['Embarked'].fillna(data['Embarked'].mode()[0])

# ④ Age, Fare 구간화
data['AgeBin'] = pd.cut(data['Age'], bins=[0, 16, 32, 48, 64, 100], labels=False)
data['FareBin'] = pd.qcut(data['Fare'], 4, labels=False)

# [4] 불필요한 변수 제거
data.drop(['Name', 'Ticket', 'Cabin', 'PassengerId', 'Age', 'Fare'], axis=1, inplace=True)

# [5] 범주형 변수 인코딩
for col in ['Sex', 'Embarked', 'Title']:
    le = LabelEncoder()
    data[col] = le.fit_transform(data[col])

# [6] 학습용 / 테스트용 분할
X_train = data[:len(y)]
X_test = data[len(y):]

# [7] Stratified K-Fold 교차검증
rf = RandomForestClassifier(
    n_estimators=200,
    max_depth=6,
    min_samples_split=4,
    min_samples_leaf=2,
    random_state=42
)
kfold = StratifiedKFold(n_splits=5, shuffle=True, random_state=42)
cv_score = cross_val_score(rf, X_train, y, cv=kfold, scoring='accuracy')

print(f'5-Fold 교차검증 평균 정확도: {cv_score.mean():.4f}')

<>:17: SyntaxWarning: invalid escape sequence '\.'
<>:17: SyntaxWarning: invalid escape sequence '\.'
C:\Users\smhrd1\AppData\Local\Temp\ipykernel_3036\320426470.py:17: SyntaxWarning: invalid escape sequence '\.'
  data['Title'] = data['Name'].str.extract(' ([A-Za-z]+)\.', expand=False)

5-Fold 교차검증 평균 정확도: 0.8316

In [67]:
# [8] 전체 학습 후 test 데이터 예측
rf.fit(X_train, y)
final_pred = rf.predict(X_test)

# [9] 캐글 제출용 파일 생성
submission = test[['PassengerId']].copy()
submission['Survived'] = final_pred
submission.to_csv('titanic_submission_rf_kfold.csv', index=False)

In [68]:
from xgboost import XGBClassifier
from sklearn.model_selection import StratifiedKFold, cross_val_score

# 중요한 변수만 사용
cols = ['Pclass', 'Sex', 'Title', 'AgeBin', 'FareBin', 'IsAlone']
X_filtered = X_train[cols]

# XGBoost 모델 설정
xgb = XGBClassifier(
    n_estimators=500,
    max_depth=4,
    learning_rate=0.03,
    subsample=0.8,
    colsample_bytree=0.8,
    use_label_encoder=False,
    eval_metric='logloss',
    random_state=42
)

# 10-fold 교차검증
kfold = StratifiedKFold(n_splits=10, shuffle=True, random_state=42)
score = cross_val_score(xgb, X_filtered, y, cv=kfold, scoring='accuracy')

print(f'10-Fold 교차검증 평균 정확도: {score.mean():.4f}')

C:\Users\smhrd1\anaconda3\Lib\site-packages\xgboost\training.py:183: UserWarning: [15:20:21] WARNING: C:\actions-runner\_work\xgboost\xgboost\src\learner.cc:738:
Parameters: { "use_label_encoder" } are not used.

  bst.update(dtrain, iteration=i, fobj=obj)
C:\Users\smhrd1\anaconda3\Lib\site-packages\xgboost\training.py:183: UserWarning: [15:20:22] WARNING: C:\actions-runner\_work\xgboost\xgboost\src\learner.cc:738:
Parameters: { "use_label_encoder" } are not used.

  bst.update(dtrain, iteration=i, fobj=obj)
C:\Users\smhrd1\anaconda3\Lib\site-packages\xgboost\training.py:183: UserWarning: [15:20:24] WARNING: C:\actions-runner\_work\xgboost\xgboost\src\learner.cc:738:
Parameters: { "use_label_encoder" } are not used.

  bst.update(dtrain, iteration=i, fobj=obj)
C:\Users\smhrd1\anaconda3\Lib\site-packages\xgboost\training.py:183: UserWarning: [15:20:25] WARNING: C:\actions-runner\_work\xgboost\xgboost\src\learner.cc:738:
Parameters: { "use_label_encoder" } are not used.

  bst.update(dtrain, iteration=i, fobj=obj)
C:\Users\smhrd1\anaconda3\Lib\site-packages\xgboost\training.py:183: UserWarning: [15:20:27] WARNING: C:\actions-runner\_work\xgboost\xgboost\src\learner.cc:738:
Parameters: { "use_label_encoder" } are not used.

  bst.update(dtrain, iteration=i, fobj=obj)
C:\Users\smhrd1\anaconda3\Lib\site-packages\xgboost\training.py:183: UserWarning: [15:20:28] WARNING: C:\actions-runner\_work\xgboost\xgboost\src\learner.cc:738:
Parameters: { "use_label_encoder" } are not used.

  bst.update(dtrain, iteration=i, fobj=obj)
C:\Users\smhrd1\anaconda3\Lib\site-packages\xgboost\training.py:183: UserWarning: [15:20:30] WARNING: C:\actions-runner\_work\xgboost\xgboost\src\learner.cc:738:
Parameters: { "use_label_encoder" } are not used.

  bst.update(dtrain, iteration=i, fobj=obj)
C:\Users\smhrd1\anaconda3\Lib\site-packages\xgboost\training.py:183: UserWarning: [15:20:31] WARNING: C:\actions-runner\_work\xgboost\xgboost\src\learner.cc:738:
Parameters: { "use_label_encoder" } are not used.

  bst.update(dtrain, iteration=i, fobj=obj)
C:\Users\smhrd1\anaconda3\Lib\site-packages\xgboost\training.py:183: UserWarning: [15:20:33] WARNING: C:\actions-runner\_work\xgboost\xgboost\src\learner.cc:738:
Parameters: { "use_label_encoder" } are not used.

  bst.update(dtrain, iteration=i, fobj=obj)
C:\Users\smhrd1\anaconda3\Lib\site-packages\xgboost\training.py:183: UserWarning: [15:20:34] WARNING: C:\actions-runner\_work\xgboost\xgboost\src\learner.cc:738:
Parameters: { "use_label_encoder" } are not used.

  bst.update(dtrain, iteration=i, fobj=obj)

10-Fold 교차검증 평균 정확도: 0.8182

In [71]:
# 원본 다시 불러오기
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
y = train['Survived']
train.drop(['Survived'], axis=1, inplace=True)

# 다시 합치기
data = pd.concat([train, test], sort=False).reset_index(drop=True)

# 다시 FamilySize 생성
data['FamilySize'] = data['SibSp'] + data['Parch'] + 1
data['IsAlone'] = (data['FamilySize'] == 1).astype(int)

In [75]:
# [1] 라이브러리
import pandas as pd
import numpy as np
from sklearn.model_selection import StratifiedKFold, cross_val_score
from sklearn.preprocessing import LabelEncoder
from xgboost import XGBClassifier

# [2] 데이터 불러오기
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
y = train['Survived']
train.drop(['Survived'], axis=1, inplace=True)
data = pd.concat([train, test], sort=False).reset_index(drop=True)

# [3] Title 간소화
data['Title'] = data['Name'].str.extract(' ([A-Za-z]+)\.', expand=False)
data['Title'] = data['Title'].replace(['Mlle', 'Ms'], 'Miss')
data['Title'] = data['Title'].replace('Mme', 'Mrs')
data['Title'] = data['Title'].replace(
    ['Lady', 'Countess', 'Capt', 'Col', 'Don', 'Dr',
     'Major', 'Rev', 'Sir', 'Jonkheer', 'Dona'], 'Rare'
)

# [4] 가족 관련 변수
data['FamilySize'] = data['SibSp'] + data['Parch'] + 1
data['IsAlone'] = (data['FamilySize'] == 1).astype(int)

# [5] 결측치 처리
data['Age'] = data['Age'].fillna(data.groupby('Title')['Age'].transform('mean'))
data['Fare'] = data['Fare'].fillna(data['Fare'].median())
data['Embarked'] = data['Embarked'].fillna(data['Embarked'].mode()[0])

# [6] Cabin 처리 → 앞글자만 따서 CabinType 생성
data['CabinType'] = data['Cabin'].astype(str).str[0]
data['CabinType'] = data['CabinType'].replace('n', 'U')  # NaN → 'U' (Unknown)

# [7] 구간화
data['AgeBin'] = pd.cut(data['Age'], bins=[0, 16, 32, 48, 64, 100], labels=False)
data['FareBin'] = pd.qcut(data['Fare'], 4, labels=False)

# [8] 불필요한 컬럼 제거
data.drop(['Name', 'Ticket', 'Cabin', 'PassengerId'], axis=1, inplace=True)

# [9] 범주형 인코딩
for col in ['Sex', 'Embarked', 'Title', 'CabinType']:
    le = LabelEncoder()
    data[col] = le.fit_transform(data[col])

# [10] 훈련/테스트 분리
X_train = data[:len(y)].copy()
X_test = data[len(y):].copy()

# [11] 최종 피처 구성
cols = [
    'Pclass', 'Sex', 'Title', 'Age', 'AgeBin',
    'Fare', 'FareBin', 'CabinType',
    'SibSp', 'Parch', 'FamilySize', 'IsAlone'
]
X_filtered = X_train[cols]
X_test_filtered = X_test[cols]

# [12] XGBoost 모델 정의
xgb = XGBClassifier(
    n_estimators=800,
    max_depth=5,
    learning_rate=0.02,
    subsample=0.9,
    colsample_bytree=0.8,
    min_child_weight=1,
    gamma=0,
    use_label_encoder=False,
    eval_metric='logloss',
    random_state=42
)

# [13] 교차검증
kfold = StratifiedKFold(n_splits=10, shuffle=True, random_state=42)
score = cross_val_score(xgb, X_filtered, y, cv=kfold, scoring='accuracy')
print(f'10-Fold 교차검증 평균 정확도: {score.mean():.4f}')

<>:16: SyntaxWarning: invalid escape sequence '\.'
<>:16: SyntaxWarning: invalid escape sequence '\.'
C:\Users\smhrd1\AppData\Local\Temp\ipykernel_3036\3182634885.py:16: SyntaxWarning: invalid escape sequence '\.'
  data['Title'] = data['Name'].str.extract(' ([A-Za-z]+)\.', expand=False)
C:\Users\smhrd1\anaconda3\Lib\site-packages\xgboost\training.py:183: UserWarning: [15:27:32] WARNING: C:\actions-runner\_work\xgboost\xgboost\src\learner.cc:738:
Parameters: { "use_label_encoder" } are not used.

  bst.update(dtrain, iteration=i, fobj=obj)
C:\Users\smhrd1\anaconda3\Lib\site-packages\xgboost\training.py:183: UserWarning: [15:27:34] WARNING: C:\actions-runner\_work\xgboost\xgboost\src\learner.cc:738:
Parameters: { "use_label_encoder" } are not used.

  bst.update(dtrain, iteration=i, fobj=obj)
C:\Users\smhrd1\anaconda3\Lib\site-packages\xgboost\training.py:183: UserWarning: [15:27:37] WARNING: C:\actions-runner\_work\xgboost\xgboost\src\learner.cc:738:
Parameters: { "use_label_encoder" } are not used.

  bst.update(dtrain, iteration=i, fobj=obj)
C:\Users\smhrd1\anaconda3\Lib\site-packages\xgboost\training.py:183: UserWarning: [15:27:40] WARNING: C:\actions-runner\_work\xgboost\xgboost\src\learner.cc:738:
Parameters: { "use_label_encoder" } are not used.

  bst.update(dtrain, iteration=i, fobj=obj)
C:\Users\smhrd1\anaconda3\Lib\site-packages\xgboost\training.py:183: UserWarning: [15:27:43] WARNING: C:\actions-runner\_work\xgboost\xgboost\src\learner.cc:738:
Parameters: { "use_label_encoder" } are not used.

  bst.update(dtrain, iteration=i, fobj=obj)
C:\Users\smhrd1\anaconda3\Lib\site-packages\xgboost\training.py:183: UserWarning: [15:27:46] WARNING: C:\actions-runner\_work\xgboost\xgboost\src\learner.cc:738:
Parameters: { "use_label_encoder" } are not used.

  bst.update(dtrain, iteration=i, fobj=obj)
C:\Users\smhrd1\anaconda3\Lib\site-packages\xgboost\training.py:183: UserWarning: [15:27:49] WARNING: C:\actions-runner\_work\xgboost\xgboost\src\learner.cc:738:
Parameters: { "use_label_encoder" } are not used.

  bst.update(dtrain, iteration=i, fobj=obj)
C:\Users\smhrd1\anaconda3\Lib\site-packages\xgboost\training.py:183: UserWarning: [15:27:52] WARNING: C:\actions-runner\_work\xgboost\xgboost\src\learner.cc:738:
Parameters: { "use_label_encoder" } are not used.

  bst.update(dtrain, iteration=i, fobj=obj)
C:\Users\smhrd1\anaconda3\Lib\site-packages\xgboost\training.py:183: UserWarning: [15:27:55] WARNING: C:\actions-runner\_work\xgboost\xgboost\src\learner.cc:738:
Parameters: { "use_label_encoder" } are not used.

  bst.update(dtrain, iteration=i, fobj=obj)
C:\Users\smhrd1\anaconda3\Lib\site-packages\xgboost\training.py:183: UserWarning: [15:27:58] WARNING: C:\actions-runner\_work\xgboost\xgboost\src\learner.cc:738:
Parameters: { "use_label_encoder" } are not used.

  bst.update(dtrain, iteration=i, fobj=obj)

10-Fold 교차검증 평균 정확도: 0.8327

In [76]:
# 전체 학습 후 예측 및 CSV 저장
xgb.fit(X_filtered, y)
final_pred = xgb.predict(X_test_filtered)

submission = test[['PassengerId']].copy()
submission['Survived'] = final_pred
submission.to_csv('titanic_submission_v4.csv', index=False)

C:\Users\smhrd1\anaconda3\Lib\site-packages\xgboost\training.py:183: UserWarning: [15:28:03] WARNING: C:\actions-runner\_work\xgboost\xgboost\src\learner.cc:738:
Parameters: { "use_label_encoder" } are not used.

  bst.update(dtrain, iteration=i, fobj=obj)

In [77]:
# [1] 라이브러리
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import StratifiedKFold, cross_val_score
from sklearn.preprocessing import LabelEncoder

# [2] 데이터 불러오기
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
y = train['Survived']
train.drop(['Survived'], axis=1, inplace=True)
data = pd.concat([train, test], sort=False).reset_index(drop=True)

# [3] Title 간소화
data['Title'] = data['Name'].str.extract(' ([A-Za-z]+)\.', expand=False)
data['Title'] = data['Title'].replace(['Mlle', 'Ms'], 'Miss')
data['Title'] = data['Title'].replace('Mme', 'Mrs')
data['Title'] = data['Title'].replace(
    ['Lady', 'Countess', 'Capt', 'Col', 'Don', 'Dr',
     'Major', 'Rev', 'Sir', 'Jonkheer', 'Dona'], 'Rare'
)

# [4] IsAlone 생성
data['FamilySize'] = data['SibSp'] + data['Parch'] + 1
data['IsAlone'] = (data['FamilySize'] == 1).astype(int)

# [5] 결측치 처리
data['Age'] = data['Age'].fillna(data.groupby('Title')['Age'].transform('mean'))
data['Fare'] = data['Fare'].fillna(data['Fare'].median())
data['Embarked'] = data['Embarked'].fillna(data['Embarked'].mode()[0])

# [6] 구간화
data['AgeBin'] = pd.cut(data['Age'], bins=[0, 16, 32, 48, 64, 100], labels=False)
data['FareBin'] = pd.qcut(data['Fare'], 4, labels=False)

# [7] 삭제할 컬럼
data.drop(['Name', 'Ticket', 'Cabin', 'PassengerId', 'Age', 'Fare', 'SibSp', 'Parch', 'FamilySize'], axis=1, inplace=True)

# [8] 인코딩
for col in ['Sex', 'Embarked', 'Title']:
    le = LabelEncoder()
    data[col] = le.fit_transform(data[col])

# [9] 훈련/테스트 분할
X_train = data[:len(y)].copy()
X_test = data[len(y):].copy()

# [10] 캐글 최적화 핵심 피처만 사용
cols = ['Pclass', 'Sex', 'Title', 'AgeBin', 'FareBin', 'IsAlone']
X_filtered = X_train[cols]
X_test_filtered = X_test[cols]

# [11] RandomForest 모델
rf = RandomForestClassifier(
    n_estimators=500,
    max_depth=6,
    min_samples_split=4,
    min_samples_leaf=2,
    random_state=42
)

# [12] 교차검증
kfold = StratifiedKFold(n_splits=10, shuffle=True, random_state=42)
score = cross_val_score(rf, X_filtered, y, cv=kfold, scoring='accuracy')
print(f'10-Fold 교차검증 평균 정확도: {score.mean():.4f}')

<>:16: SyntaxWarning: invalid escape sequence '\.'
<>:16: SyntaxWarning: invalid escape sequence '\.'
C:\Users\smhrd1\AppData\Local\Temp\ipykernel_3036\4135492013.py:16: SyntaxWarning: invalid escape sequence '\.'
  data['Title'] = data['Name'].str.extract(' ([A-Za-z]+)\.', expand=False)

10-Fold 교차검증 평균 정확도: 0.8159

In [87]:
# [1] 라이브러리 불러오기
import pandas as pd
import numpy as np
from sklearn.model_selection import StratifiedKFold, cross_val_score
from sklearn.preprocessing import LabelEncoder
from xgboost import XGBClassifier

# [2] 데이터 불러오기
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

# 타겟 분리
y = train['Survived']
train.drop(['Survived'], axis=1, inplace=True)

# 합치기
data = pd.concat([train, test], sort=False).reset_index(drop=True)

# [3] Title 추출 및 간소화
data['Title'] = data['Name'].str.extract(' ([A-Za-z]+)\.', expand=False)
data['Title'] = data['Title'].replace(['Mlle', 'Ms'], 'Miss')
data['Title'] = data['Title'].replace('Mme', 'Mrs')
data['Title'] = data['Title'].replace(
    ['Lady', 'Countess', 'Capt', 'Col', 'Don', 'Dr', 'Major',
     'Rev', 'Sir', 'Jonkheer', 'Dona'], 'Rare'
)

# [4] 가족 관련 변수 생성
data['FamilySize'] = data['SibSp'] + data['Parch'] + 1
data['IsAlone'] = (data['FamilySize'] == 1).astype(int)

# [5] 결측치 처리
data['Age'] = data['Age'].fillna(data.groupby('Title')['Age'].transform('mean'))
data['Fare'] = data['Fare'].fillna(data['Fare'].median())
data['Embarked'] = data['Embarked'].fillna(data['Embarked'].mode()[0])

# [6] Cabin 전처리 → 앞 글자 추출
data['CabinType'] = data['Cabin'].astype(str).str[0]
data['CabinType'] = data['CabinType'].replace('n', 'U')  # NaN 대체

# [7] 수치형 변수 구간화
data['AgeBin'] = pd.cut(data['Age'], bins=[0, 16, 32, 48, 64, 100], labels=False)
data['FareBin'] = pd.qcut(data['Fare'], 4, labels=False)

# [8] 범주형 변수 인코딩
for col in ['Sex', 'Embarked', 'Title', 'CabinType']:
    le = LabelEncoder()
    data[col] = le.fit_transform(data[col])

# [9] 훈련/테스트 나누기
X_full = data[:len(y)].copy()
X_test = data[len(y):].copy()

# [10] 사용할 피처 선택
features = [
    'Pclass', 'Sex', 'Title',
    'Age', 'Fare', 'CabinType', 'SibSp', 'Parch',
    'FamilySize', 'IsAlone'
]

X_train = X_full[features]
X_test = X_test[features]

# [11] 모델 정의
xgb = XGBClassifier(
    n_estimators=800,
    max_depth=5,
    learning_rate=0.03,
    subsample=0.9,
    colsample_bytree=0.8,
    min_child_weight=1,
    gamma=0,
    use_label_encoder=True,
    eval_metric='logloss',
    random_state=50
)

# [12] 교차검증 (10-Fold)
kfold = StratifiedKFold(n_splits=10, shuffle=True, random_state=42)
score = cross_val_score(xgb, X_train, y, cv=kfold, scoring='accuracy')
print(f'10-Fold 교차검증 평균 정확도: {score.mean():.4f}')

<>:20: SyntaxWarning: invalid escape sequence '\.'
<>:20: SyntaxWarning: invalid escape sequence '\.'
C:\Users\smhrd1\AppData\Local\Temp\ipykernel_3036\3883331750.py:20: SyntaxWarning: invalid escape sequence '\.'
  data['Title'] = data['Name'].str.extract(' ([A-Za-z]+)\.', expand=False)
C:\Users\smhrd1\anaconda3\Lib\site-packages\xgboost\training.py:183: UserWarning: [15:41:10] WARNING: C:\actions-runner\_work\xgboost\xgboost\src\learner.cc:738:
Parameters: { "use_label_encoder" } are not used.

  bst.update(dtrain, iteration=i, fobj=obj)
C:\Users\smhrd1\anaconda3\Lib\site-packages\xgboost\training.py:183: UserWarning: [15:41:13] WARNING: C:\actions-runner\_work\xgboost\xgboost\src\learner.cc:738:
Parameters: { "use_label_encoder" } are not used.

  bst.update(dtrain, iteration=i, fobj=obj)
C:\Users\smhrd1\anaconda3\Lib\site-packages\xgboost\training.py:183: UserWarning: [15:41:15] WARNING: C:\actions-runner\_work\xgboost\xgboost\src\learner.cc:738:
Parameters: { "use_label_encoder" } are not used.

  bst.update(dtrain, iteration=i, fobj=obj)
C:\Users\smhrd1\anaconda3\Lib\site-packages\xgboost\training.py:183: UserWarning: [15:41:18] WARNING: C:\actions-runner\_work\xgboost\xgboost\src\learner.cc:738:
Parameters: { "use_label_encoder" } are not used.

  bst.update(dtrain, iteration=i, fobj=obj)
C:\Users\smhrd1\anaconda3\Lib\site-packages\xgboost\training.py:183: UserWarning: [15:41:21] WARNING: C:\actions-runner\_work\xgboost\xgboost\src\learner.cc:738:
Parameters: { "use_label_encoder" } are not used.

  bst.update(dtrain, iteration=i, fobj=obj)
C:\Users\smhrd1\anaconda3\Lib\site-packages\xgboost\training.py:183: UserWarning: [15:41:23] WARNING: C:\actions-runner\_work\xgboost\xgboost\src\learner.cc:738:
Parameters: { "use_label_encoder" } are not used.

  bst.update(dtrain, iteration=i, fobj=obj)
C:\Users\smhrd1\anaconda3\Lib\site-packages\xgboost\training.py:183: UserWarning: [15:41:26] WARNING: C:\actions-runner\_work\xgboost\xgboost\src\learner.cc:738:
Parameters: { "use_label_encoder" } are not used.

  bst.update(dtrain, iteration=i, fobj=obj)
C:\Users\smhrd1\anaconda3\Lib\site-packages\xgboost\training.py:183: UserWarning: [15:41:29] WARNING: C:\actions-runner\_work\xgboost\xgboost\src\learner.cc:738:
Parameters: { "use_label_encoder" } are not used.

  bst.update(dtrain, iteration=i, fobj=obj)
C:\Users\smhrd1\anaconda3\Lib\site-packages\xgboost\training.py:183: UserWarning: [15:41:32] WARNING: C:\actions-runner\_work\xgboost\xgboost\src\learner.cc:738:
Parameters: { "use_label_encoder" } are not used.

  bst.update(dtrain, iteration=i, fobj=obj)
C:\Users\smhrd1\anaconda3\Lib\site-packages\xgboost\training.py:183: UserWarning: [15:41:35] WARNING: C:\actions-runner\_work\xgboost\xgboost\src\learner.cc:738:
Parameters: { "use_label_encoder" } are not used.

  bst.update(dtrain, iteration=i, fobj=obj)

10-Fold 교차검증 평균 정확도: 0.8203

In [89]:
# 학습 및 예측
xgb.fit(X_train, y)
final_pred = xgb.predict(X_test)

# 저장
submission = test[['PassengerId']].copy()
submission['Survived'] = final_pred
submission.to_csv('titanic_submission_final.csv', index=False)

C:\Users\smhrd1\anaconda3\Lib\site-packages\xgboost\training.py:183: UserWarning: [15:47:55] WARNING: C:\actions-runner\_work\xgboost\xgboost\src\learner.cc:738:
Parameters: { "use_label_encoder" } are not used.

  bst.update(dtrain, iteration=i, fobj=obj)